
.fade-buffer{
    width: 100%;
    height:15vh;
    background-image: linear-gradient(180deg, #0338be, rgb(2, 192, 2));
}

.fade-buffer.mobile {
    background-image: linear-gradient(180deg, darkslategray, rgb(2, 192, 2));
}